@charset "UTF-8";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.board {
  width: min(60vw, 90vh);
  height: min(50vw, 75vh);
  background-color: #e1c699;
  border: 5px solid #000;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
}

.board .field {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.board .field .piece {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  animation: drop 0.5s ease forwards;
}

.board .field .blue {
  background-color: blue;
}

.board .field .red {
  background-color: red;
}

@keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 1vw;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  width: 175px;
}

.controls button {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e1c699;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.controls button:hover {
  background-color: #f5f5dc;
}

.controls .turn {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.controls .turn.red {
  color: red;
}

.controls .turn.blue {
  color: blue;
}

.controls button,
.controls .turn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .board {
    width: 90vw;
    height: 75vw;
  }

  .controls {
    width: 90vw;
    max-width: 300px;
    margin-top: 0;
  }
}
